.login__section{
    height: 100%;
    background-color: #dad2ca;
    padding-bottom: 100px;
    max-width: 100%;
}

.login__form{
    margin: auto;
    width: 700px;
    max-width: 70%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:70px;
    border-radius: 6px;
}

.login__input{
        color: #BEB1A6;
        background-color: #F4F4F4;
           border: none;
            padding: 5px 20px;
            font-size: 18px;
            height: 38px;
            outline: none;
            width: 100%;
}

.login__group{
    font-size: 20px;
    margin: 20px;
    color: #8B7969;
}


.login__actions{
    text-align: center;
    margin-top: 70px;
}

.login__submit--button{
    border: 1px solid #8B7969;
    background-color: #82756A;
    color: #FFFFFF;
    padding: 10px 30px;
    max-width: 30%;
    font-size: 18px;
}

.login__title{
    margin: 0px auto;
    padding: 50px;
    font-size: 30px;
    text-align: center;
    color: #8B7969;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px 40px;
}

.header__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.register__item {
    margin-left: auto;
}

.register__button {
    border: 1px solid #D9C6B5;
    color: #D9C6B5;
    background-color: #F0F0F099;
    font-size: 20px;
    padding: 5px;
    position: relative;
    cursor: pointer;
}

.login__error {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-left: 20px;
    background-color: #efece9;
    width: fit-content;
    padding: 2px 6px;
}